body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  border-bottom: 1px solid white ;
  padding: 15px 0;
  text-align: center;
}
.header__title {
  font-size: 2.5rem;
}
.tasks {
  display: grid;
  justify-content: center;
}
.tasks__div {
  display: flex;
  justify-content: center;
  width: 360px;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
  height: 40px;
}
.tasks__input {
  width: 320px;
  background-color: black;
  color: white;
  border: none;
}
.tasks__send {
  margin: 0 0 0 0;
  color: white; 
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.task {
  display: flex;
  border: 1px solid white;
  width: 360px;
  margin-top: 20px;
} 

.task__text {
  font-size: 1.2 rem;
  margin: 5px auto 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.task__btn {
  background-color: white;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.task__btn_edit {
  margin-right: 10px;
  background-image: url('./image/pencil-fill.svg');
  
}

.tast__btn_delete {
  background-image: url('./image/delete.png');

}

.task__btn_completed {
  margin-right: 10px;
  background-image: url('./image/check-lg.svg')
}

.check {
  text-decoration: line-through;
}